form {
    display: block;
    margin-top: 0em;
}

.custom-container {
    max-width: 1800px;
    margin-top: 2rem;
}

#content-block *:last-child {
    margin-bottom: 0;
}

.for-be-dropdowns .be-drop-down {
    display: inline-block;
    margin-bottom: 50px;
    margin-right: 30px;
}

.be-drop-down {
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

a,
.soc_buttons.light>li,
.color_bg,
.be-ava-user>img,
.be-drop-down,
.footer_slider img {
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.be-drop-down {
    position: relative;
    display: block;
    font-size: 13px;
    color: #b4b7c1;
    background: #FFF;
    padding: 15px 80px 15px 50px;
    margin-bottom: 10px;
    border: 1px solid #edeff2;
    cursor: pointer;
    border-radius: 3px;
}

.icon-projects {
    display: inline-block;
    /* background: url(../img/icon-projects.png) no-repeat; */
    text-indent: -9999px;
    text-align: left;
    width: 16px;
    height: 16px;
}

form.input-search {
    position: relative;
    margin-bottom: 5px;
}

.input-search input[type="text"] {
    border-radius: 2px;
    border: 1px solid #edeff2;
    width: 100%;
    padding: 14px 10px;
    color: #b4b7c1;
}

::-webkit-input-placeholder {
    color: inherit !important;
}

input::-webkit-input-placeholder {
    line-height: initial;
    white-space: pre;
    word-wrap: normal;
    -webkit-user-modify: read-only;
    overflow: hidden;
}

::-webkit-input-placeholder {
    -webkit-text-security: none;
    color: rgb(117, 117, 117);
    pointer-events: none;
}

.input-search i {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 10px;
    color: #000;
    font-size: 14px;
    opacity: 0.3;
}

.input-search input[type="submit"] {
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 30px;
    top: 0;
    right: 0;
}

#content-block *:last-child {
    margin-bottom: 0;
}

.be-drop-down .drop-down-list {
    border-left: 1px solid #54587E;
    border-right: 1px solid #54587E;
}

.be-drop-down:hover,
.be-drop-down:active .be-drop-down.be-dropdown-active {
    background: #54587E;
    color: #FFF;
}

.be-drop-down .drop-down-list {
    position: absolute;
    width: 100%;
    top: 105%;
    left: -1px;
    z-index: 228;
    box-sizing: content-box;
    -webkit-transition: all 3s;
    -moz-transition: all 3s;
    -o-transition: all 3s;
    transition: height 1s ease-in-out;
}

.not-active-list {
    visibility: hidden;
    transition: all 1s ease-in-out;
}

.active-list {
    visibility: visible;
    transition: all 0.3s ease-in-out;
}

.drop-down-list,
.be-drop-down:hover:after,
.be-drop-down:hover i,
.be-drop-down.be-dropdown-active:after,
.be-drop-down.be-dropdown-active i {
    color: rgba(255, 255, 255, 0.8);
}

.drop-down-list {
    background: #54587E;
    color: #FFF;
    width: 100%;
    left: 0;
}

ul,
li,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.icon {
    position: absolute;
    left: 1rem;
    top: 38%;
}

#search-icon {
    position: absolute;
    right: 1rem;
    top: 38%;
    color: #4444445c;
}

.be-drop-down .drop-down-list li {
    display: block;
}

ul,
li,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.be-drop-down:after {
    content: "\f107";
    font-family: FontAwesome;
    font-size: 18px;
    position: absolute;
    top: 50%;
    right: 25px;
    -moz-transform: translateY(-50%) rotate(0);
    -ms-transform: translateY(-50%) rotate(0);
    -webkit-transform: translateY(-50%) rotate(0);
    transform: translateY(-50%) rotate(0);
}

.drop-down-list li a {
    color: #fff !important;
}

.drop-down-list a {
    color: #8da4e0;
}

.drop-down-list a {
    display: block;
    padding: 11.5px 20px;
    color: rgba(255, 255, 255, 0.8);
}


/* fields */

.be-vidget {
    margin-bottom: 45px;
}

.letf-menu-article {
    font-size: 14px;
    color: #262626;
    margin-bottom: 15px;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

#content-block *:last-child {
    margin-bottom: 0;
}

.creative_filds_block {
    margin-bottom: 20px;
}

.creative_filds_block .ul {
    width: 100%;
    background: #F6F6F6;
    margin-bottom: 20px;
}

.creative_filds_block a,
.creative_filds_block .nav>li>a {
    display: block;
    position: relative;
    font-size: 13px;
    padding: 11px 15px 11px 20px;
    color: #bdbfc8 !important;
    cursor: pointer;
    border: 1px solid #E6E6E6;
}

a,
.soc_buttons.light>li,
.color_bg,
.be-ava-user>img,
.be-drop-down,
.footer_slider img {
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

a,
a:hover,
a:focus {
    text-decoration: inherit;
}

.letf-menu-article {
    font-size: 14px;
    color: #262626;
    margin-bottom: 15px;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

#content-block .tags_block {
    margin: 0px;
    margin-bottom: -10px;
}

#content-block *:last-child {
    margin-bottom: 0;
}

.tags_block {
    margin: -5px;
}

.tags_block li {
    float: left;
}

.be-vidget li {
    -webkit-transition: all ease-out 0.1s;
    transition: all ease-out 0.1s;
}

ul,
li,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

#content-block .tags_block li a:last-child {
    margin-bottom: 10px;
}

.tags_block li a {
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #B4B7C1;
    background: #F6F6F6;
    padding: 5px 11px;
    margin: 0px 10px 1px 0px;
    border: 1px solid #E6E6E6;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 5px;
}

.filter-block>ul>li:hover {
    background: #0d58c8;
    cursor: pointer;
}

.filter-block li:hover,
.filter-block li:hover i {
    color: #FFF;
}

.filter-block li>a,
.filter-block li>a:focus {
    display: block;
    font-size: 13px;
    line-height: 13px;
    font-weight: 400;
    color: #b4b7c1;
    padding: 15px 15px 15px 50px;
}

.be-popup {
    display: none;
    padding: 20px;
    position: absolute;
    left: 100%;
    top: -50px;
    background: #0d58c8;
    z-index: 25;
    border-radius: 2px;
    width: 340px;
    cursor: default;
}

#container-mix .mix {
    display: none;
}

@media screen and (max-width: 1200px) {
    .custom-column-5:nth-child(3n+1) {
        clear: both;
    }
}

@media screen and (max-width: 1200px) {
    .custom-column-5:nth-child(4n+1) {
        clear: none;
    }
}

@media screen and (max-width: 1500px) {
    .custom-column-5:nth-child(4n+1) {
        clear: both;
    }
}

@media screen and (max-width: 1500px) {
    .custom-column-5:nth-child(5n+1) {
        clear: none;
    }
}

.custom-column-5:nth-child(5n+1) {
    clear: both;
}

@media screen and (max-width: 1200px) {
    .custom-column-5 {
        width: 33.333%;
    }
}

@media screen and (max-width: 1500px) {
    .custom-column-5 {
        width: 25%;
    }
}

.custom-column-5 {
    width: 20%;
    padding: 0 15px;
    float: left;
}

.be-post {
    border: 1px solid #edeff2;
    border-radius: 2px;
    width: 100%;
    margin-bottom: 30px !important;
}

.be-post .be-img-block {
    margin-bottom: 15px;
    position: relative;
}

.be-img-block {
    overflow: hidden;
    display: block;
}

.be-post .be-img-block img {
    width: 100%;
    height: 7rem;
    position: relative;
    -webkit-transition: all ease-out 0.3s;
    transition: all 0.3s;
}

.be-post .be-img-block img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.be-post .be-img-block:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent #FFF transparent;
}

.be-post-title {
    position: relative;
    display: block;
    font-size: 13px;
    line-height: 20px;
    color: #262626;
    border-bottom: 1px solid #edeff2;
    margin: 0 15px 10px 15px;
    cursor: pointer;
    min-height: 52px;
    padding-bottom: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.be-post .be-img-block:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent #FFF transparent;
}

.be-post>span {
    color: #b4b7c1;
    display: block;
    font-size: 11px;
    line-height: 20px;
    padding: 0 15px;
    margin-bottom: 15px;
}

.author-post {
    padding: 0 15px;
    font-size: 11px;
    line-height: 15px;
    color: #b4b7c1;
    margin-bottom: 20px;
}

.info-block {
    background: #F6F6F6;
    padding: 20px 15px;
    font-size: 10px;
    color: #b4b7c1 !important;
}

.be-post-tag {
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
    color: #a1a5b1;
}

.author-post img {
    border-radius: 50%;
    display: inline;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.author-post a {
    color: #262626;
}

.letf-menu-article {
    font-size: 14px;
    color: #262626;
    margin-bottom: 15px;
}


/* Podcasts search view */


/* ul (list) */

.flex-container {
    /* display: flex;
    flex-direction: column; */
    overflow-y: auto;
    height: 200px;
}


/* list-item */

.flex {
    display: flex;
    border: 1px solid #54587E;
    padding: 3px;
    margin: 1px;
    align-items: center;
    display: flex;
    transition: all 0.2s ease-in;
    height: 60px;
}

.flex:hover {
    cursor: pointer;
    color: white;
    background-color: #54587E;
}

.flex span {
    margin: 1px;
}


/* list p item */

.flex p {
    flex: 1;
}