.creative_filds_block .filter {
    color: white;
}

.tags_block .filter {
    color: white;
}

.filter-block a {
    color: white;
}

#closeSearch {
    position: absolute;
    right: 0;
}

.flex-container {
    position: absolute;
    z-index: 999;
}

#vg_player {
    position: absolute;
}