<!-- Copyright 2017, Roy Levy, All rights reserved -->

<div class="jumbotron">
    <!-- <h1 class="display-1 ">Rants.Life</h1> -->
    <h3>A Home For Your Thoughts</h3>
    <p class="">Rant what's on your mind</p>
    <p>
        <button class="btn btn-primary btn-lg" data-toggle="modal" type="button" data-target="#myModal">
                <img class="align-middle" aria-hidden="true" src="../assets/img/record_white.png">                
            <span class="align-middle btn-title">Share A Rant With The World</span>
        </button>
    </p>

</div>


<app-record></app-record>
<!-- <app-trending></app-trending>
 -->
<app-content></app-content>