.dropzone {
    position: relative;
    border: 1px dashed;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.active {
    border-style: solid;
}

.progress {
    width: 100%;
}

.progress-display {
    position: absolute;
    margin: 0;
}

.imageUpload {
    display: none;
}

.tab-pane {
    border-style: none;
}

.nav-link {
    text-align: -webkit-center;
    text-align: center;
}

.nav-item {
    flex: 2;
}

.is-hovered {
    color: #EB6864;
    border: #EB6864;
}

.record-box {
    height: 10rem;
    display: flex;
    justify-content: center;
}

.input-text {
    text-overflow: ellipsis;
    /* will make [...] at the end */
    width: 370px;
    /* change to your preferences */
    white-space: nowrap;
    /* paragraph to one line */
    overflow: hidden;
    /* older browsers */
}

.inputfile {
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    position: absolute;
}

.inputfile:hover {
    cursor: pointer;
}

.inputfile {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.inputfile:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.form-control {
    overflow: hidden;
}


/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .model-content {
        width: 100vw;
        left: -10px;
        position: absolute;
    }
}


/* Smartphones (landscape) ----------- */

@media only screen and (min-width: 321px) {
    .model-content {
        width: 100vw;
        left: -10px;
        position: absolute;
    }
}


/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 320px) {
    .model-content {
        width: 100vw;
        left: -10px;
        position: absolute;
    }
}