<!-- Copyright 2017, Rant's Life, All rights reserved -->
<!--  This code was written by Roy Levy -->

<div class="row">
    <div class="col-sm-12">
        <audio #audio class="audio"></audio>
    </div>
    <div class="col-sm-4">
        <button class="btn btn-circle btn-main" (click)="startRecording()"><i class="fas fa-microphone"></i></button>
    </div>
    <div class="col-sm-4">
        <button class="btn btn-circle btn-main" (click)="stopRecording()"><i class="fas fa-stop-circle"></i></button>
    </div>
    <div class="col-sm-4">
        <button class="btn btn-circle btn-main" (click)="download()"><i class="fas fa-download"></i></button>
    </div>
</div>




<!-- <div class="row">
    <div class="col-sm-4">
        <button class="notRec" [ngClass]="{'Rec': isRecording}" id='recButton' [hidden]="isRecording" type="button" (click)="startRecording()"> Record </button>
    </div>
    <div class="col-sm-4">
        <button [hidden]="!isRecording || recordCompleted" type="button" (click)="stopRecording()"> Stop</button>
    </div>
    <div class="col-sm-4">
        <button [hidden]="!recordCompleted" type="button" (click)="download()"> Download</button>
    </div>
    <div class="col-sm-12">
        <audio [hidden]="!recordCompleted" #audio class="audio"></audio>
    </div>
</div> -->