/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
a :hover {
    cursor: pointer
}


/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    font-size: calc(16px + 0.5vw);
    .form-control {
        font-size: calc(16px + 0.5vw);
    }
}


/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* STYLES GO HERE */
    font-size: calc(16px + 0.5vw);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: none;
}

btn .btn {
    text-transform: none;
}

body,
html {
    overflow: hidden;
}

app-root {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    flex-direction: column;
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0;
    height: 2rem;
    /* text-align: center; */
    align-items: center;
    display: flex;
}

.btn-main {
    background-color: #54587E;
    color: #B4B7C1;
    transition: all 0.25s ease-in;
}

.btn-main:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: white;
    transform: translateY(-1px);
}

.btn-circle {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.badge-main {
    background-color: #54587E;
}

.badge {
    margin: 1px;
    color: #b4b7c1;
    transition: all 0.15s ease-in;
}

.badge:hover {
    cursor: pointer;
    color: white;
}