/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
a :hover {
    cursor: pointer
}


/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    font-size: calc(16px + 0.5vw);
    .form-control {
        font-size: calc(16px + 0.5vw);
    }
}


/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* STYLES GO HERE */
    font-size: calc(16px + 0.5vw);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: none;
}

btn .btn {
    text-transform: none;
}

body,
html {
    overflow: hidden;
}

app-root {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    flex-direction: column;
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0;
    height: 6rem;
    /* text-align: center; */
    align-items: center;
    display: flex;
}